:root {
  /* ## Colors */

  /* ### Primary */

  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "kumbh sans";
  src: url(../assets/fonts/KumbhSans-VariableFont_wght.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: kumbh sans, sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  color: var(--very-dark-blue);
}

.nav-bar {
  position: relative;
  padding: 0 4%;
  height: 8vh;
  display: flex;
  align-items: center;
}

.leftside-navbar {
  flex: 1;
}

.rightside-navbar {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  gap: 16px;
}

.rightside-navbar figure {
  position: relative;
  margin: 0;
}

.rightside-navbar .cart-icon {
  display: block;
}

.rightside-navbar .number-products {
  position: absolute;
  top: -4px;
  right: 0;
  /* padding: 2% auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  font-size: 10px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 50%;
}

.ham-btn {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 22;
}

.ham-btn img {
  display: block;
}

.ham-btn .menu-icon {
  width: 14px;
  height: 14px;
}

.ham-btn .close-icon {
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  display: none;
}

.nav-bar .logo {
  /* line-height: 0; */
}

.nav-menu-box {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  z-index: 20;
  display: none;
}

.nav-menu {
  margin: 0;
  padding: 12vh 4% 2% 4%;
  width: 66%;
  height: 100vh;
  list-style: none;
  color: var(--very-dark-blue);
  font-weight: 700;
  line-height: 2;
  background-color: var(--white);
}

.nav-menu a {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.avatar-image {
  width: 22px;
  height: 22px;
}

.cart-information-box {
  position: absolute;
  top: 9vh;
  left: 2%;
  padding-bottom: 16px;
  width: 96%;
  background-color: var(--white);
  border-radius: 8px;
  z-index: 21;
  display: none;
}

.cart-information-box > p {
  margin-bottom: 0;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 16px;
  font-weight: 700;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.product-information {
  margin-left: 0;
  margin-right: 0;
  padding-left: 4%;
  padding-right: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-information .product-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.product-information .information-text {
}

.product-information .product-name {
  margin-top: 0;
  margin-bottom: 6px;
}

.product-information .price-calculation {
  margin: 0;
}

.price-calculation .total-price {
  font-weight: 700;
}

.delete-btn {
  border: none;
  background-color: transparent;
}

.checkout-btn {
  margin: 0 auto;
  padding: 12px 0;
  width: 92%;
  display: block;
  color: var(--white);
  font-weight: 700;
  border: 1px solid var(--orange);
  background-color: var(--orange);
  border-radius: 8px;
}

.container-1 {
  position: relative;
  /* display: flex; */
  overflow: hidden;
}

.product-image-box {
  display: flex;
}

.product-image-box .img-box {
  min-width: 100%;
}

.product-image-box .product-img {
  width: 100%;
}

.container-1 .product-thumbnail-box {
  display: none;
}

.container-1 .slider-btn {
  position: absolute;
  top: 46%;
  padding: 1%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
}

.container-1 .previous-btn {
  left: 4%;
}

.container-1 .next-btn {
  right: 4%;
}

.img-box .product-img {
  /* min-width: 100vw; */
  display: block;
}

.container-2 {
  padding: 16px 4%;
}

.container-2 .subtitle {
  margin-top: 0;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange);
}

.container-2 .title {
  margin-top: 0;
  padding-right: 8%;
  font-weight: 700;
  color: var(--black);
}

.container-2 .paragraph {
}

.container-2 .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container p:first-of-type {
  display: flex;
  align-items: center;
}

.price-container .final-price {
  font-size: 26px;
  margin-right: 10px;
  font-weight: 700;
}

.price-container .discount {
  padding: 2px 6px;
  min-height: 100%;
  font-weight: 700;
  color: var(--orange);
  vertical-align: middle;
  background-color: var(--pale-orange);
  border-radius: 6px;
}

.price-container .starting-price {
  color: var(--grayish-blue);
  text-decoration: line-through;
}

.product-add-container {
  /* padding: 0 4%; */
}

.product-add-container .add-minus-btn-box {
  margin-bottom: 12px;
  padding: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  background-color: var(--light-grayish-blue);
  border-radius: 6px;
}

.add-minus-btn-box .quantity-btn {
  padding: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.add-cart-btn {
  padding: 12px 1%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--orange);
  background-color: var(--orange);
  border-radius: 6px;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 8%;
  }

  .nav-bar {
    padding: 0;
    height: 10vh;
    border-bottom: 1px solid var(--light-grayish-blue);
  }

  .leftside-navbar {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .ham-btn {
    display: none;
  }

  .nav-menu-box {
    position: initial;
    display: initial;
    height: initial;
    background-color: transparent;
  }

  .nav-menu {
    padding: 0;
    width: 100%;
    height: initial;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    /* line-height: normal; */
  }

  .avatar-image {
    width: 34px;
    height: 34px;
  }

  main {
    padding: 42px 4% 42px 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 52px;
  }

  .container-1 {
    /* flex: 1; */
  }

  .product-image-box .product-img {
    border-radius: 8px;
  }

  .container-1 .product-thumbnail-box {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }

  .product-thumbnail-box .product-thumbnail {
    /* width: 40px;
    height: 40px; */
    border-radius: 6px;
  }

  .container-1 .slider-btn {
    display: none;
  }

  .container-2 {
    /* padding: 16px 8%; */
  }

  .container-2 .title {
    /* font-size: 2em; */
    font-size: 34px;
  }

  .container-2 .price-container {
    display: initial;
  }

  .product-add-container {
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 16px;
    /* align-items: center; */
  }

  .product-add-container .add-minus-btn-box {
    margin-bottom: 0;
  }
}
