:root {
  /* ## Colors */

  /* ### Primary */

  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "kumbh sans";
  src: url(../assets/fonts/KumbhSans-VariableFont_wght.ttf);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: kumbh sans, sans-serif;
  font-size: 16px;
}

main {
  color: var(--very-dark-blue);
}

.nav-bar {
  padding: 0 4%;
  height: 8vh;
  display: flex;
  align-items: center;
}

.leftside-navbar {
  flex: 1;
}

.rightside-navbar {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  gap: 16px;
}

.rightside-navbar figure {
  position: relative;
  margin: 0;
}

.rightside-navbar .cart-icon {
  display: block;
}

.rightside-navbar .number-products {
  position: absolute;
  top: -4px;
  right: 0;
  /* padding: 2% auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  font-size: 10px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 50%;
}

.ham-btn {
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
}

.ham-btn img {
  display: block;
}

.ham-btn .menu-icon {
  width: 14px;
  height: 14px;
}

.ham-btn .close-icon {
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  display: none;
}

.nav-bar .logo {
  /* line-height: 0; */
}

.nav-menu {
  display: none;
}

.avatar-image {
  width: 22px;
  height: 22px;
}

.container-1 {
  position: relative;
  /* display: flex; */
  overflow: hidden;
}

.product-image-box {
  display: flex;
}

.product-image-box .img-box {
  min-width: 100%;
}

.container-1 .slider-btn {
  position: absolute;
  top: 46%;
  padding: 1%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
}

.container-1 .previous-btn {
  left: 4%;
}

.container-1 .next-btn {
  right: 4%;
}

.img-box .product-img {
  /* min-width: 100vw; */
  display: block;
}

.container-2 {
  padding: 16px 4%;
}

.container-2 .subtitle {
  margin-top: 0;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--orange);
}

.container-2 .title {
  margin-top: 0;
  padding-right: 8%;
  font-weight: 700;
  color: var(--black);
}

.container-2 .paragraph {
}

.container-2 .price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-container p:first-of-type {
  display: flex;
  align-items: center;
}

.price-container .final-price {
  font-size: 26px;
  margin-right: 10px;
  font-weight: 700;
}

.price-container .discount {
  padding: 2px 6px;
  min-height: 100%;
  font-weight: 700;
  color: var(--orange);
  vertical-align: middle;
  background-color: var(--pale-orange);
  border-radius: 4px;
}

.price-container .starting-price {
  color: var(--grayish-blue);
  text-decoration: line-through;
}
